body {
  background: lightsteelblue;
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: rgb{0, 0, 255};
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.member {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.member h2 {
  margin: 0;
}

.member p {
  margin: 10px 0;
}
