<!DOCTYPE html>
<html>
<head>
    <title>Managing Enterprise Servers: CPE31S24</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Hero Section Start -->
    <div id="hero"></div>
    <div class="hero">
        <nav>
            <h2 class="logo">My <span>Portfolio</span></h2>
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#hands-on-activities">Hands On Activities</a></li>
                <li><a href="#contact-me">Reflections and Learnings</a></li>
                <li><a href="#social">Contact Us</a></li>
            </ul>
            <div class="social">
                <a href="https://github.com/qrrstemporado?tab=repositories" target="_blank"><i class="fab fa-github-alt"></i></a>
            </div>
        </nav>

        <div class="content">
            <h4>Kon'nichiwa, ore wa</h4>
            <h1>Roland Ross Temporado</h1>
            <h3>From CPE31S24</h3>
            <div class="newsletter">
            </div>
        </div>
    </div>

    <!-- About Section Start -->
    <section class="about">
        <div id="about"></div>
        <div class="main">
            <img src="img/me.jpg" alt="My Picture">
            <div class="about-text">
                <h2>About Me</h2>
                <h5>3rd Year, <span>Computer Engineer</span></h5>
                <p>I am a 21-year-old 3rd-year Computer Engineer at the Technological Institute of the Philippines Quezon City. In my free time, I have plenty of hobbies such as playing sports like volleyball and badminton, cooking, playing the ukulele, playing computer games, and building Arduino-related projects. Also, I am computer literate, have good communication skills, and am a team player. I do love cats, astronomy, music, sleeping, and keeping myself busy.</p>
            </div>
        </div>
    </section>

    <!-- Hands-On Activities Section -->
    <div class="hands-on-activities">
        <div id="hands-on-activities"></div>
        <div class="title">
            <h2>Hands-On Activities</h2>
        </div>

        <div class="box">
            <div class="card">
                <h5>Prelim HOA</h5>
                <div class="pra">
                    <p>Click the button below to access all the Prelim Hands-On Activities</p>
                    <p style="text-align: center;">
                        <a class="button" href="https://drive.google.com/drive/folders/1teQFtjr6MTX7xsCQZeZvXuIN7qI3vhKA?usp=share_link" target="_blank">Click Here</a>
                    </p>
                </div>
            </div>

            <!-- Add the rest of your cards here with a similar structure -->

        </div>
    </div>

    <!-- Contact Me -->
    <div id="contact-me"></div>
    <div class="contact-me">
        <p>Reflection and Learnings</p>
        <p>Throughout my journey in this course (CPE 232: Managing Enterprise Servers), I was able to create a workflow using infrastructure as code practices to build an enterprise environment in Oracle VM VirtualBox using Debian and CentOS distributions. I was able to orchestrate remote servers using SSH, which allows me to install and communicate securely and remotely. I also learned about the DevOps culture by utilizing GitHub and leveraging infrastructure as code with Ansible. As the course progressed, I evaluated real-world enterprise scenarios virtually, finding solutions to enterprise problems and determining the best services to use in the industry. Additionally, I successfully implemented OpenStack on my virtual machine, which offers various cloud services. Lastly, I would like to thank my instructor, Dr. Jonathan V. Taylar, for his continuous support, expert guidance in managing enterprise servers, and creating a positive and low-pressure class environment.</p>
    </div>

    <!-- Footer -->
    <footer>
        <div id="social"></div>
        <p>Want to know more about me?</p>
        <p>You can reach me through the following links below</p>
        <div class="social">
            <a href="https://www.facebook.com/RRT.07" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/rosshy_kun/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ItsMe_ArrEssTee" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="end"></p>
    </footer>
</body>
</html>
