<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CPE 027 Group 6</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>CPE 027 Group 6 Portfolio</h1>
  </header>
  <main>
    <section class="member">
      <h2>Sam Ryan C. Ruiz</h2>
      <p>Computer Engineering Student</p>
    </section>

    <section class="member">
      <h2>Kurt Daniel San Juan</h2>
      <p>Computer Engineering Student</p>
    </section>

    <section class="member">
      <h2>Mylen Sevilla</h2>
      <p>Computer Engineering Student</p>
    </section>

    <section class="member">
      <h2>Ross Temporado</h2>
      <p>Computer Engineering Student</p>
    </section>

    <section class="member">
      <h2>Robin Valenzuela</h2>
      <p>Computer Engineering Student</p>
    </section>
  </main>
</body>
</html>
